<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="GitHub" value="https://nuget.pkg.github.com/iberisoft/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="iberisoft" />
      <add key="ClearTextPassword" value="%GITHUB_PACKAGE_TOKEN%" />
    </GitHub>
  </packageSourceCredentials>
</configuration>
